<div>
<h2>Send SMS</h2>
<div>
    <input type = "tel" name="number" id="number" placeholder="Enter Phone no.">
    <input type = "text" name="msg" id="msg" placeholder="Enter Message">
    <input type = "button" id="button" value="Send Text" class="btn btn-primary">
    <p class="response"></p>

</div>

</div>
